 <nav>
     <a href="/dashboard">
        <i class="bi bi-house"></i>
     </a>
     <span onclick="sharePost()"><i class="bi bi-plus-circle"></i></span>
     <a href="/profile">
        <i class="bi bi-person"></i>
     </a>
     <a href="/sign-out"><i class="bi bi-box-arrow-right"></i></a>
     
 </nav>