 <nav>
     <a href="/dashboard">
         <ion-icon name="home-outline"></ion-icon>
     </a>
     <a href="/sign-out">Sign out</a>
     <a href="/profile">
         <ion-icon name="person-outline"></ion-icon>
     </a>
 </nav>