<header>
    <!-- ejs param object -->
    <%= site %>
    <% if (locals.username) { %>
        <%= username  %> 
        <% } %> 
    <nav>
        <a href="/start">Start</a> | 
    </nav>
</header>
<hr>