<header>
    <!-- ejs param object -->
    <%= site %>
    <% if (locals.user) { %>
        <%= user  %> 
        <% } %> 
    <nav>
        <a href="/dashboard">Start</a> | 
        <a href="/sign-out">Sign out</a>
    </nav>
</header>
<hr>