<form action="/share-post" method="POST">
    <input type="text" name="post" placeholder="Type your post here!" id="post">
    <fieldset>
        <input type="radio" id="public" name="visibility" value="public" checked>
        <label for="public">Public</label>
        <input type="radio" id="private" name="visibility" value="private">
        <label for="private">Private</label>
    </fieldset>
    <input type="submit" value="Share post">
</form>