<div id="sharePostContainer">
    <form action="/share-post" method="POST">
        <h3>Let's go and share a new post!</h3>
        <input type="text" name="post" placeholder="Write your post here!" id="post">
        <fieldset>
            <label for="public">Public</label>
            <input type="radio" id="public" name="visibility" value="public" checked>
            <label for="private">Private</label>
            <input type="radio" id="private" name="visibility" value="private">

        </fieldset>
        <button type="submit">Share post</button>
    </form>
</div>