<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
     <!-- include header -->
     <%- include("./partials/header.ejs") %>

     <h1>Profile</h1>

     <%- include("./partials/share-post.ejs") %>
    
    
 
    <ul>
        <% for(let i = 0; i < userPosts.length; i++) { %>
        <li>
          <b><%= userPosts[i].post %></b>
          <small>, posted by you</small>
          <i><%= userPosts[i].visibility %></i>
        </li>
        <% } %>
      </ul>
   


</body>
</html>