<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Sign in</title>
</head>

<body>
    <!-- include header -->

    <main class="centeredContent">

        <div class="logoSignIn">
            <h1>TWETA</h1>
        </div>

        <% if (locals.serverMessage) { %>
        <div class="flash-message <%= locals.serverMessage.type %> %> animate__fadeInDown fadeout">
            <p><%= locals.serverMessage.message %></p>
        </div>
        <% } %>

        <% if (locals.flash) { %>
        <% Object.keys(flash).forEach((key) => { %> <%
                    flash[key].forEach((message) => { %>
        <div class="flash-message <%= key %> fadeout">
            <p><%= message %></p>
        </div>
        <% }) %> <% }) %>
        <% } %>


        <form action="/sign-in" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">SIGN IN</button>
        </form>
        <div class="linkDiv">
            <a href="/sign-up">Don't you have an account? Sign up!</a>
        </div>

    </main>

</body>

</html>